/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* pink: FFA0B2 */

$pink: #ffa0b2;
$light_pink: #ffcfd8;
$font_family: "Noto Sans", "Helvetica";

@font-face {
  font-family: playball; // 自己命名
  src: local("Playball"), url(Playball-Regular.ttf);
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  position: absolute;
  top: 0;
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.audio {
  display: none;
}

audio {
  display: inline-block !important;
  // display: none;
  // width: 500px;
  // height: 500px;
  left: 0;
  top: -312.5px;
  z-index: 999;
  width: 31vw;
  left: 35vw;
  position: relative;
  // margin-top: 50px;
  // background: red;
  opacity: 0;
  transition-duration: 0.5s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.page {
  // whole page
  width: 100vw;
  height: 100vh;
  position: relative;
}

.welcome_page {
  // feat .page class
  // overflow-x: hidden;
  // overflow-y: hidden;
  position: relative;
  background: linear-gradient(to top, $pink, $light_pink);

  .jack_png {
    position: absolute;
    // left: 27.4%;
    left: 50%;
    // transform: translate(-50%,0);
    margin-left: -300px;
    top: -63px;
    width: 600px;
  }
  .hanny_png {
    position: absolute;
    left: 50%;
    // transform: translate(-50%,0);
    margin-left: -300px;
    top: -63px;
    width: 600px;
  }
  .welcome {
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 500px;
    font-family: playball, Comic Sans MS;
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    text-align: center;
    color: #ffffff;

    animation-delay: 0.5s;
  }
  .Jack_and_Hanny {
    position: relative;
    width: 100%;
    height: 170px;
    margin-top: -30px;
    // top: 530px;
    font-family: playball, Comic Sans MS;
    // 沒有Playball這個字體
    font-style: normal;
    font-weight: normal;
    font-size: 73px;
    text-align: center;
    color: #ffffff;

    animation-delay: 1s;
  }
  .Wedding_word {
    position: relative;
    width: 100%;
    height: 170px;
    margin-top: -85px;
    // top: 608px;
    font-family: playball, Comic Sans MS;
    // 沒有Playball這個字體
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    text-align: center;
    color: #ffffff;

    animation-delay: 1.5s;
  }
  .buttonset {
    position: relative;
    width: 100%;
    margin-top: -85px;
    // top: 705px;
    text-align: center;
    // 這裡的top是對應誰的啊幹？為什麼不是對整個welcome_page？
    z-index: 999;

    animation-delay: 2s;

    .button {
      display: inline-block;
      position: relative;
      // width: 125px;
      height: 18px;
      margin: 0 5.5%;
      cursor: pointer;

      img {
        height: 100%;
      }
    }

    // .button_ourstory{
    //   position: relative;
    //   width: 250px;
    //   height: 35px;
    //   left: 25%;
    // }
    // .button_ceremony{
    //   position: relative;
    //   width: 250px;
    //   height: 35px;
    //   left: 50%;
    // }
    // .button_banquet{
    //   position: relative;
    //   width: 250px;
    //   height: 35px;
    //   left: 75%;
    // }
  }
}

// .player_page {
//   // feat .page class
//   background: $pink;
//   .player_icon_png{
//     position: relative;
//     top:50%;
//     left:50%;
//     transform: translate(-50%, -50%);
//     // transform 是對div做微調。
//     width:300px;
//   }
//
// }

.timeline_page {
  // feat .page class
  background: $pink;
  font-family: Noto Sans TC;
  margin-top: -1px;

  .timeline {
    position: absolute;
    display: none; // scroll display
    left: 9vw;
    top: 6vh;

    .line {
      position: absolute;
      top: 6px;
      width: 2px;
      height: 100vh;
      background: white;
    }

    .time_section {
      position: relative;
      margin-bottom: 7vh;
      margin-left: -4px;
      cursor: pointer;

      &:hover {
        .title {
          opacity: 0.5;
        }
        .polygon {
          display: block;
        }
      }

      .polygon {
        position: absolute;
        top: -3px;
        left: -50px;
        display: none;
      }

      .active {
        display: block;
      }

      .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        margin-right: 20px;
        vertical-align: top;
      }
      .title {
        opacity: 0;
        display: inline-block;
        color: white;
        // font-size: 24px;
        font-size: 36px;
        font-weight: bold;
        margin-right: 5px;
        margin-top: -14px;

        .text {
          font-size: 16px;
          padding-top: 15px;
          width: 261px;
          line-height: 26px;
        }
      }
    }

    .show {
      .title {
        opacity: 1;
      }
    }
  }

  .image_window {
    position: absolute;
    display: none;
    top: 19vh;
    right: 10vw;

    img {
      display: none;
      position: absolute;
      width: 50vw;
      margin-top: -1.5vw;
      margin-left: -3vw;
      animation-duration: 0.8s;
    }

    .vertical {
      width: 26vw;
      margin-left: 11vw;
      margin-top: -4vw;
    }

    .default {
      display: block;
    }

    .white_bg {
      width: 50vw;
      height: 34vw;
      border-radius: 40px;
      background: linear-gradient(
        302.89deg,
        #ffffff 23%,
        rgba(255, 255, 255, 0) 62.59%
      );
    }
  }
}

.huge_photo_page {
  position: relative;
  width: 100%;
  background: #ffa0b2;
  overflow-x: hidden;
  overflow-y: hidden;

  .handwriting_1 {
    position: absolute;
    left: 4%;
    top: 55%;
    width: 41%;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
  }

  .handwriting_2 {
    position: absolute;
    left: 6.5%;
    top: 71.5%;
    width: 52%;
  }

  .handwriting {
    display: none;
  }

  .huge_photo {
    position: relative;
    height: 150%;
    top: -280px;
    left: 30%;
  }

  .full_screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

.location_page {
  position: relative;
  height: auto;
  width: 100vw;
  overflow-x: hidden;

  .location {
    position: relative;
    width: 100%;
    height: auto;
    // padding-bottom: 40px;

    iframe {
      position: absolute;
      left: calc(640px + 8%);
      width: 600px;
      height: 280px;
    }
  }
  .title {
    position: relative;
    display: block;
    left: 8%;
    top: 46px;
    font-size: 40px;
    font-weight: bold;
    font-family: $font_family;
    color: #ffa0b2;
  }

  .info {
    position: relative;
    display: inline-block;
    width: 470px;
    left: 8%;
    top: 60px;
    vertical-align: top;
    padding-bottom: 84px;
    padding-right: 170px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Noto Sans";
    color: #ffa0b2;
    .time {
      margin-bottom: 2vh;
      h2 {
        padding-bottom: 6px;
        margin-bottom: 10px;
        border-bottom: 1px solid $light_pink;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        font-family: $font_family;
        padding-bottom: 8px;
        letter-spacing: 1px;
      }
    }

    .loc {
      margin-bottom: 2vh;
      h2 {
        padding-bottom: 6px;
        margin-bottom: 10px;
        border-bottom: 1px solid $light_pink;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        font-family: $font_family;
        padding-bottom: 5px;
        letter-spacing: 1px;
      }
    }

    .awareness {
      margin-bottom: 2vh;
      h2 {
        padding-bottom: 6px;
        margin-bottom: 10px;
        border-bottom: 1px solid $light_pink;
      }
      li {
        font-weight: 500;
        font-size: 14px;
        font-family: $font_family;
        padding-bottom: 8px;
        letter-spacing: 1px;
        text-decoration: dotted;
      }
    }
  }

  .traffic {
    position: relative;
    display: inline-block;
    width: 503px;
    left: 8%;
    padding-bottom: 70px;
  }
  .ceremony {
    background: $pink;
  }
  .banquet {
    background: white;
    padding-bottom: 84px;
  }
}

.mobile {
  display: none !important;
}

.footer {
  position: relative;
  // display: none;
  width: 100vw;
  // height: 300px;
  background: $pink;
  text-align: center;

  video {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.2;
  }

  .mask {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
  }

  .countdown {
    position: relative;
    display: inline-block;
    color: white;
    padding-top: 80px;

    .time_section {
      position: relative;
      display: inline-block;
      // width: 15vw;
      width: 150px;
      // height: 15vw;
      height: 150px;
      // padding: 3vw;
      padding: 35px;
      // background: red;
      border-radius: 50%;
      text-align: center;

      .time_number {
        width: 100%;
        height: 60%;
        // border: 4px white solid;
        border-radius: 50%;
        font-size: 64px;
        padding: 20% 0;
      }

      .title {
        font-size: 24px;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 16px;
        left: 0;
      }
    }
  }

  .social_buttonset {
    position: relative;
    width: 100%;
    margin-top: 93px;
    text-align: center;

    .button {
      display: inline-block;
      width: 30px;
      margin-left: 12px;

      .social_button {
        width: 100%;
      }
    }
  }
  .copyright {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 0 25px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: "Noto Sans(Medium) , Helvetica, Arial, sans-serif";
    .icon {
      position: relative;
      left: 0;
      transform: translateX(-50%);
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .location_page {
    .location {
      iframe {
        position: relative;
        display: block;
        left: 8%;
        top: 0;
        // width:
        margin-top: -50px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .footer .countdown .time_section {
    width: 100px;
  }

  .huge_photo_page {
    .full_screen {
      height: 100vh;
      width: auto;
      object-fit: fill;
      left: 0%;
      // margin-left: -74%;
    }
    .handwriting_1 {
      left: 13%;
      top: 18%;
      width: 70%;
    }
    .handwriting_2 {
      left: 13%;
      top: 28%;
      width: 70%;
    }
  }

  .welcome_page {
    .jack_png,
    .hanny_png {
      // width: 100vw;
      // top: 0vh;
      // margin-left: -50vw;
      // left: 53%;
    }

    .welcome {
      padding-top: 520px;
      // top: 535px;
    }

    .Jack_and_Hanny {
      // top: 585px;
      font-size: 60px;
    }

    .Wedding_word {
      // top: 647px;
      margin-top: -90px;
    }

    .buttonset {
      // top: 755px;
      .button {
        height: 19.5px;
        margin: 0 2%;
      }
    }
  }

  .timeline_page {
    height: 200vh;
    overflow: hidden;

    .line {
      display: none;
    }

    .time_section {
      display: none;
    }

    .image_window {
      position: fixed;
      width: 100vw;
      height: 100vh;
      left: 0vw;
      top: 0;

      .window {
        position: absolute;
        display: none;

        img {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
        }

        .up {
          top: 5vh;
          left: 15vw;
          width: 75vw;
          height: 64vh;
        }

        .below {
          top: 31vh;
          left: 15vw;
          width: 75vw;
          height: 64vh;
        }
      }

      .window_short {
        margin-top: 10vh;
      }

      .default {
        display: block;
        img {
          display: block;
        }
      }

      img {
        margin-left: 0;
        width: 100%;
        // margin-top:
      }

      .white_bg {
        width: 100vw;
        margin-top: 15vh;
        height: 40vw;
      }

      .title {
        position: relative;
        top: 73vh;
        left: 17vw;
        font-size: 43px;
        line-height: 43px;
        color: white;
        width: 70vw;
        font-weight: bold;
        // display: none;

        .text {
          font-weight: normal;
          font-size: 16px;
          margin-left: 3vw;
          line-height: 25px;
          margin-top: 11px;
        }
      }
      .top {
        top: 3vh;
      }
    }


  }

  .location_page{
    .info{
      margin-bottom: 50px;
    }
  }
}

@media screen and (max-width: 500px) {
  .location_page {
    .location {
      iframe {
        width: 85vw;
      }
    }
    .title {
      height: auto;
      // width: 80vw;
      height: 8vw;
    }
    .info,
    .traffic {
      width: 88vw;
    }
  }

  .welcome_page {
    height: 140vh;
    .jack_png,
    .hanny_png {
      width: 100vw;
      top: 0vh;
      margin-left: -50vw;
      left: 53%;
    }

    .welcome {
      // top: calc(325px + #{$rwd_top});
      height: 16vh;
      padding-top: 54vh;
      padding-top: 450px;
      font-size: 36px;
    }

    .Jack_and_Hanny {
      // top: calc(362px + #{$rwd_top});
      font-size: 44px;
    }

    .Wedding_word {
      // top: calc(410px + #{$rwd_top});
      font-size: 38px;
      margin-top: -100px;
    }

    .buttonset {
      // top: calc(480px + #{$rwd_top});
      .button {
        height: 16.5px;
        margin: 0 2%;
      }
    }
  }

  .timeline_page {
    height: 260vh;

    .image_window {
      top: -1vh;
      .default {
        top: -5vh;
      }
      .text {
        
        width: 270px;
      }
      #image_four {
        top: -5vh;
      }
    }
  }

  .huge_photo_page {
    .handwriting_2 {
      top: 10vh;
      left: 10vw;
      width: 85vw;
    }
  }

  .info {
    margin-bottom: 60px;
  }
}

@media screen and (max-height: 700px) and (max-width: 490px) {
  .welcome_page {
    .welcome {
      padding-top: 360px;
    }
  }
}

@media screen and (max-height: 630px) and (max-width: 490px) {
  .welcome_page {
    .welcome {
      padding-top: 400px;
    }
  }

  .timeline_page {
    .image_window {
      .title {
        top: 72vh;
        font-size: 32px;

        .text {
          font-size: 15px;
          margin-left: 8vw;
          line-height: 23px;
          margin-top: 6px;
        }
      }

      .top {
        top: 4vh;
      }
    }
  }
}
