/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* pink: FFA0B2 */
@font-face {
  font-family: playball;
  src: local("Playball"), url(Playball-Regular.ttf);
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
/* line 19, ../sass/style.scss */
#map {
  position: absolute;
  top: 0;
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
/* line 26, ../sass/style.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/style.scss */
.audio {
  display: none;
}

/* line 37, ../sass/style.scss */
audio {
  display: inline-block !important;
  left: 0;
  top: -312.5px;
  z-index: 999;
  width: 31vw;
  left: 35vw;
  position: relative;
  opacity: 0;
  transition-duration: 0.5s;
  cursor: pointer;
}
/* line 54, ../sass/style.scss */
audio:hover {
  opacity: 1;
}

/* line 60, ../sass/style.scss */
.page {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* line 67, ../sass/style.scss */
.welcome_page {
  position: relative;
  background: linear-gradient(to top, #FFA0B2, #FFCFD8);
}
/* line 74, ../sass/style.scss */
.welcome_page .jack_png {
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: -63px;
  width: 600px;
}
/* line 83, ../sass/style.scss */
.welcome_page .hanny_png {
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: -63px;
  width: 600px;
}
/* line 92, ../sass/style.scss */
.welcome_page .welcome {
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 500px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  text-align: center;
  color: #FFFFFF;
  animation-delay: 0.5s;
}
/* line 113, ../sass/style.scss */
.welcome_page .Jack_and_Hanny {
  position: relative;
  width: 100%;
  height: 170px;
  margin-top: -30px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 73px;
  text-align: center;
  color: #FFFFFF;
  animation-delay: 1s;
}
/* line 129, ../sass/style.scss */
.welcome_page .Wedding_word {
  position: relative;
  width: 100%;
  height: 170px;
  margin-top: -85px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  text-align: center;
  color: #FFFFFF;
  animation-delay: 1.5s;
}
/* line 145, ../sass/style.scss */
.welcome_page .buttonset {
  position: relative;
  width: 100%;
  margin-top: -85px;
  text-align: center;
  z-index: 99999;
  animation-delay: 2s;
}
/* line 156, ../sass/style.scss */
.welcome_page .buttonset .button {
  display: inline-block;
  position: relative;
  height: 18px;
  margin: 0 5.5%;
  cursor: pointer;
}
/* line 164, ../sass/style.scss */
.welcome_page .buttonset .button img {
  height: 100%;
}

/* line 204, ../sass/style.scss */
.timeline_page {
  background: #FFA0B2;
  font-family: Noto Sans TC;
  margin-top: -1px;
}
/* line 210, ../sass/style.scss */
.timeline_page .timeline {
  position: absolute;
  display: none;
  left: 9vw;
  top: 6vh;
}
/* line 216, ../sass/style.scss */
.timeline_page .timeline .line {
  position: absolute;
  top: 6px;
  width: 2px;
  height: 100vh;
  background: white;
}
/* line 224, ../sass/style.scss */
.timeline_page .timeline .time_section {
  position: relative;
  margin-bottom: 7vh;
  margin-left: -4px;
  cursor: pointer;
}
/* line 231, ../sass/style.scss */
.timeline_page .timeline .time_section:hover .title {
  opacity: 0.5;
}
/* line 234, ../sass/style.scss */
.timeline_page .timeline .time_section:hover .polygon {
  display: block;
}
/* line 239, ../sass/style.scss */
.timeline_page .timeline .time_section .polygon {
  position: absolute;
  top: -3px;
  left: -50px;
  display: none;
}
/* line 246, ../sass/style.scss */
.timeline_page .timeline .time_section .active {
  display: block;
}
/* line 250, ../sass/style.scss */
.timeline_page .timeline .time_section .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  margin-right: 20px;
  vertical-align: top;
}
/* line 259, ../sass/style.scss */
.timeline_page .timeline .time_section .title {
  opacity: 0;
  display: inline-block;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: -14px;
}
/* line 269, ../sass/style.scss */
.timeline_page .timeline .time_section .title .text {
  font-size: 16px;
  padding-top: 15px;
  width: 261px;
  line-height: 26px;
}
/* line 279, ../sass/style.scss */
.timeline_page .timeline .show .title {
  opacity: 1;
}
/* line 285, ../sass/style.scss */
.timeline_page .image_window {
  position: absolute;
  display: none;
  top: 19vh;
  right: 10vw;
}
/* line 292, ../sass/style.scss */
.timeline_page .image_window img {
  display: none;
  position: absolute;
  width: 50vw;
  margin-top: -1.5vw;
  margin-left: -3vw;
  animation-duration: 0.8s;
}
/* line 301, ../sass/style.scss */
.timeline_page .image_window .vertical {
  width: 26vw;
  margin-left: 11vw;
  margin-top: -4vw;
}
/* line 307, ../sass/style.scss */
.timeline_page .image_window .default {
  display: block;
}
/* line 311, ../sass/style.scss */
.timeline_page .image_window .white_bg {
  width: 50vw;
  height: 34vw;
  border-radius: 40px;
  background: linear-gradient(302.89deg, #FFFFFF 23%, rgba(255, 255, 255, 0) 62.59%);
}

/* line 321, ../sass/style.scss */
.huge_photo_page {
  position: relative;
  width: 100%;
  background: #FFA0B2;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* line 330, ../sass/style.scss */
.huge_photo_page .handwriting_1 {
  position: absolute;
  left: 4%;
  top: 55%;
  width: 41%;
}
/* line 337, ../sass/style.scss */
.huge_photo_page .handwriting_2 {
  position: absolute;
  left: 6.5%;
  top: 71.5%;
  width: 52%;
}
/* line 344, ../sass/style.scss */
.huge_photo_page .handwriting {
  display: none;
}
/* line 348, ../sass/style.scss */
.huge_photo_page .huge_photo {
  position: relative;
  height: 150%;
  top: -280px;
  left: 30%;
}
/* line 356, ../sass/style.scss */
.huge_photo_page .full_screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* line 364, ../sass/style.scss */
.location_page {
  position: relative;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}
/* line 371, ../sass/style.scss */
.location_page .location {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}
/* line 377, ../sass/style.scss */
.location_page .location iframe {
  position: absolute;
  left: calc( 640px + 8% );
  top: 144px;
  width: 500px;
  height: 280px;
}
/* line 386, ../sass/style.scss */
.location_page .ceremony {
  background: #FFA0B2;
}
/* line 389, ../sass/style.scss */
.location_page .banquet {
  background: white;
  padding-bottom: 84px;
}
/* line 393, ../sass/style.scss */
.location_page .banquet iframe {
  top: 190px;
}
/* line 398, ../sass/style.scss */
.location_page .title {
  position: relative;
  display: block;
  height: 38px;
  left: 8%;
  top: 46px;
}
/* line 406, ../sass/style.scss */
.location_page .info {
  position: relative;
  display: inline-block;
  width: 470px;
  left: 8%;
  top: 60px;
  vertical-align: top;
  padding-bottom: 84px;
  padding-right: 170px;
}
/* line 417, ../sass/style.scss */
.location_page .traffic {
  position: relative;
  display: inline-block;
  width: 503px;
  left: 8%;
  padding-bottom: 70px;
}

/* line 431, ../sass/style.scss */
.mobile {
  display: none !important;
}

/* line 435, ../sass/style.scss */
.footer {
  position: relative;
  width: 100vw;
  background: #FFA0B2;
  text-align: center;
}
/* line 443, ../sass/style.scss */
.footer video {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.2;
}
/* line 453, ../sass/style.scss */
.footer .mask {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}
/* line 462, ../sass/style.scss */
.footer .countdown {
  position: relative;
  display: inline-block;
  color: white;
  padding-top: 80px;
}
/* line 468, ../sass/style.scss */
.footer .countdown .time_section {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 35px;
  border-radius: 50%;
  text-align: center;
}
/* line 481, ../sass/style.scss */
.footer .countdown .time_section .time_number {
  width: 100%;
  height: 60%;
  border-radius: 50%;
  font-size: 64px;
  padding: 20% 0;
}
/* line 491, ../sass/style.scss */
.footer .countdown .time_section .title {
  font-size: 24px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 16px;
  left: 0;
}
/* line 502, ../sass/style.scss */
.footer .social_buttonset {
  position: relative;
  width: 100%;
  margin-top: 93px;
  text-align: center;
}
/* line 509, ../sass/style.scss */
.footer .social_buttonset .button {
  display: inline-block;
  width: 30px;
  margin-left: 12px;
}
/* line 514, ../sass/style.scss */
.footer .social_buttonset .button .social_button {
  width: 100%;
}
/* line 523, ../sass/style.scss */
.footer .copyright {
  display: block;
  position: relative;
  height: 18px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 15px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1150px) {
  /* line 537, ../sass/style.scss */
  .location_page .location iframe {
    position: relative;
    display: block;
    left: 8%;
    top: 0;
    margin-top: -50px;
  }
}
@media screen and (max-width: 950px) {
  /* line 552, ../sass/style.scss */
  .desktop {
    display: none !important;
  }

  /* line 556, ../sass/style.scss */
  .mobile {
    display: block !important;
  }

  /* line 560, ../sass/style.scss */
  .footer .countdown .time_section {
    width: 100px;
  }

  /* line 567, ../sass/style.scss */
  .huge_photo_page .full_screen {
    height: 100vh;
    width: auto;
    object-fit: fill;
    left: 0%;
  }
  /* line 574, ../sass/style.scss */
  .huge_photo_page .handwriting_1 {
    left: 13%;
    top: 18%;
    width: 70%;
  }
  /* line 579, ../sass/style.scss */
  .huge_photo_page .handwriting_2 {
    left: 13%;
    top: 28%;
    width: 70%;
  }

  /* line 594, ../sass/style.scss */
  .welcome_page .welcome {
    padding-top: 520px;
  }
  /* line 599, ../sass/style.scss */
  .welcome_page .Jack_and_Hanny {
    font-size: 60px;
  }
  /* line 604, ../sass/style.scss */
  .welcome_page .Wedding_word {
    margin-top: -90px;
  }
  /* line 611, ../sass/style.scss */
  .welcome_page .buttonset .button {
    height: 19.5px;
    margin: 0 2.5%;
  }

  /* line 618, ../sass/style.scss */
  .timeline_page {
    height: 200vh;
    overflow: hidden;
  }
  /* line 622, ../sass/style.scss */
  .timeline_page .line {
    display: none;
  }
  /* line 626, ../sass/style.scss */
  .timeline_page .time_section {
    display: none;
  }
  /* line 630, ../sass/style.scss */
  .timeline_page .image_window {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
  }
  /* line 637, ../sass/style.scss */
  .timeline_page .image_window .window {
    position: absolute;
    display: none;
  }
  /* line 641, ../sass/style.scss */
  .timeline_page .image_window .window img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  /* line 651, ../sass/style.scss */
  .timeline_page .image_window .window .up {
    top: 5vh;
    left: 15vw;
    width: 75vw;
    height: 64vh;
  }
  /* line 658, ../sass/style.scss */
  .timeline_page .image_window .window .below {
    top: 31vh;
    left: 15vw;
    width: 75vw;
    height: 64vh;
  }
  /* line 670, ../sass/style.scss */
  .timeline_page .image_window .default {
    display: block;
  }
  /* line 672, ../sass/style.scss */
  .timeline_page .image_window .default img {
    display: block;
  }
  /* line 677, ../sass/style.scss */
  .timeline_page .image_window img {
    margin-left: 0;
    width: 100%;
  }
  /* line 684, ../sass/style.scss */
  .timeline_page .image_window .white_bg {
    width: 100vw;
    margin-top: 15vh;
    height: 40vw;
  }
  /* line 690, ../sass/style.scss */
  .timeline_page .image_window .title {
    position: relative;
    top: 73vh;
    left: 17vw;
    font-size: 43px;
    line-height: 43px;
    color: white;
    width: 70vw;
    font-weight: bold;
  }
  /* line 701, ../sass/style.scss */
  .timeline_page .image_window .title .text {
    font-weight: normal;
    font-size: 16px;
    margin-left: 12vw;
    line-height: 25px;
    margin-top: 11px;
  }
  /* line 710, ../sass/style.scss */
  .timeline_page .image_window .top {
    top: 7vh;
  }
}
@media screen and (max-width: 500px) {
  /* line 727, ../sass/style.scss */
  .location_page .location iframe {
    width: 85vw;
  }
  /* line 731, ../sass/style.scss */
  .location_page .title {
    height: auto;
    height: 8vw;
  }
  /* line 736, ../sass/style.scss */
  .location_page .info, .location_page .traffic {
    width: 88vw;
  }

  /* line 743, ../sass/style.scss */
  .welcome_page .jack_png, .welcome_page .hanny_png {
    width: 100vw;
    top: 0vh;
    margin-left: -50vw;
    left: 53%;
  }
  /* line 756, ../sass/style.scss */
  .welcome_page .welcome {
    padding-top: 450px;
    font-size: 36px;
  }
  /* line 763, ../sass/style.scss */
  .welcome_page .Jack_and_Hanny {
    font-size: 44px;
  }
  /* line 768, ../sass/style.scss */
  .welcome_page .Wedding_word {
    font-size: 38px;
    margin-top: -100px;
  }
  /* line 776, ../sass/style.scss */
  .welcome_page .buttonset .button {
    height: 16.5px;
    margin: 0 2%;
  }

  /* line 783, ../sass/style.scss */
  .timeline_page {
    height: 250vh;
  }
  /* line 786, ../sass/style.scss */
  .timeline_page .image_window {
    top: 0vh;
  }
}
@media screen and (max-height: 700px) and (max-width: 490px) {
  /* line 795, ../sass/style.scss */
  .welcome_page .welcome {
    padding-top: 360px;
  }
}
@media screen and (max-height: 630px) and (max-width: 490px) {
  /* line 803, ../sass/style.scss */
  .welcome_page .welcome {
    padding-top: 300px;
  }

  /* line 810, ../sass/style.scss */
  .timeline_page .image_window .title {
    top: 72vh;
    font-size: 32px;
  }
  /* line 814, ../sass/style.scss */
  .timeline_page .image_window .title .text {
    font-size: 15px;
    margin-left: 8vw;
    line-height: 23px;
    margin-top: 6px;
  }
  /* line 822, ../sass/style.scss */
  .timeline_page .image_window .top {
    top: 4vh;
  }
}
