/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* pink: FFA0B2 */
@font-face {
  font-family: playball;
  src: local("Playball"), url(Playball-Regular.ttf);
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  position: absolute;
  top: 0;
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.audio {
  display: none;
}

audio {
  display: inline-block !important;
  left: 0;
  top: -312.5px;
  z-index: 999;
  width: 31vw;
  left: 35vw;
  position: relative;
  opacity: 0;
  transition-duration: 0.5s;
  cursor: pointer;
}
audio:hover {
  opacity: 1;
}

.page {
  width: 100vw;
  height: 780px;
  position: relative;
}

.welcome_page {
  position: relative;
  background: linear-gradient(to top, #ffa0b2, #ffcfd8);
}
.welcome_page .jack_png {
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: -63px;
  width: 600px;
}
.welcome_page .hanny_png {
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: -63px;
  width: 600px;
}
.welcome_page .welcome {
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
  padding-top: 500px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  text-align: center;
  color: #ffffff;
  animation-delay: 0.5s;
}
.welcome_page .Jack_and_Hanny {
  position: relative;
  width: 100%;
  height: 170px;
  margin-top: -30px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 73px;
  text-align: center;
  color: #ffffff;
  animation-delay: 1s;
}
.welcome_page .Wedding_word {
  position: relative;
  width: 100%;
  height: 170px;
  margin-top: -85px;
  font-family: playball, Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  text-align: center;
  color: #ffffff;
  animation-delay: 1.5s;
}
.welcome_page .buttonset {
  position: relative;
  width: 100%;
  margin-top: -85px;
  text-align: center;
  z-index: 999;
  animation-delay: 2s;
}
.welcome_page .buttonset .button {
  display: inline-block;
  position: relative;
  height: 18px;
  margin: 0 5.5%;
  cursor: pointer;
}
.welcome_page .buttonset .button img {
  height: 100%;
}

.timeline_page {
  background: #ffa0b2;
  font-family: Noto Sans TC;
  margin-top: -1px;
}
.timeline_page .timeline {
  position: absolute;
  display: none;
  left: 9vw;
  top: 6vh;
}
.timeline_page .timeline .line {
  position: absolute;
  top: 6px;
  width: 2px;
  height: 100vh;
  background: white;
}
.timeline_page .timeline .time_section {
  position: relative;
  margin-bottom: 7vh;
  margin-left: -4px;
  cursor: pointer;
}
.timeline_page .timeline .time_section:hover .title {
  opacity: 0.5;
}
.timeline_page .timeline .time_section:hover .polygon {
  display: block;
}
.timeline_page .timeline .time_section .polygon {
  position: absolute;
  top: -3px;
  left: -50px;
  display: none;
}
.timeline_page .timeline .time_section .active {
  display: block;
}
.timeline_page .timeline .time_section .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  margin-right: 20px;
  vertical-align: top;
}
.timeline_page .timeline .time_section .title {
  opacity: 0;
  display: inline-block;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-right: 5px;
  margin-top: -14px;
}
.timeline_page .timeline .time_section .title .text {
  font-size: 16px;
  padding-top: 15px;
  width: 261px;
  line-height: 26px;
}
.timeline_page .timeline .show .title {
  opacity: 1;
}
.timeline_page .image_window {
  position: absolute;
  display: none;
  top: 19vh;
  right: 10vw;
}
.timeline_page .image_window img {
  display: none;
  position: absolute;
  width: 50vw;
  margin-top: -1.5vw;
  margin-left: -3vw;
  animation-duration: 0.8s;
}
.timeline_page .image_window .vertical {
  width: 26vw;
  margin-left: 11vw;
  margin-top: -4vw;
}
.timeline_page .image_window .default {
  display: block;
}
.timeline_page .image_window .white_bg {
  width: 50vw;
  height: 34vw;
  border-radius: 40px;
  background: linear-gradient(302.89deg, #ffffff 23%, rgba(255, 255, 255, 0) 62.59%);
}

.huge_photo_page {
  position: relative;
  width: 100%;
  background: #ffa0b2;
  overflow-x: hidden;
  overflow-y: hidden;
}
.huge_photo_page .handwriting_1 {
  position: absolute;
  left: 4%;
  top: 55%;
  width: 41%;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.huge_photo_page .handwriting_2 {
  position: absolute;
  left: 6.5%;
  top: 71.5%;
  width: 52%;
}
.huge_photo_page .handwriting {
  display: none;
}
.huge_photo_page .huge_photo {
  position: relative;
  height: 150%;
  top: -280px;
  left: 30%;
}
.huge_photo_page .full_screen {
  position: absolute;
  width: 100vw;
  height: 130vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.location_page {
  position: relative;
  height: auto;
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
}
.location_page .location {
  position: relative;
  width: 100%;
  height: auto;
}
.location_page .location iframe {
  position: absolute;
  left: calc(540px + 8%);
  width: 550px;
  height: 280px;
}
.location_page .title {
  position: relative;
  display: block;
  left: 8%;
  top: 46px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Noto Sans", "Helvetica";
  color: #ffa0b2;
}
.location_page .info {
  position: relative;
  display: inline-block;
  width: 470px;
  left: 8%;
  top: 60px;
  vertical-align: top;
  padding-bottom: 84px;
  padding-right: 170px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Noto Sans";
  color: #ffa0b2;
}
.location_page .info .time {
  margin-bottom: 2vh;
}
.location_page .info .time h2 {
  padding-bottom: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffcfd8;
}
.location_page .info .time p {
  font-weight: 500;
  font-size: 14px;
  font-family: "Noto Sans", "Helvetica";
  padding-bottom: 8px;
  letter-spacing: 1px;
}
.location_page .info .loc {
  margin-bottom: 2vh;
}
.location_page .info .loc h2 {
  padding-bottom: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffcfd8;
}
.location_page .info .loc p {
  font-weight: 500;
  font-size: 14px;
  font-family: "Noto Sans", "Helvetica";
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.location_page .info .awareness {
  margin-bottom: 2vh;
}
.location_page .info .awareness h2 {
  padding-bottom: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffcfd8;
}
.location_page .info .awareness li {
  font-weight: 500;
  font-size: 14px;
  font-family: "Noto Sans", "Helvetica";
  padding-bottom: 8px;
  letter-spacing: 1px;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}
.location_page .traffic {
  position: relative;
  display: inline-block;
  width: 503px;
  left: 8%;
  padding-bottom: 70px;
}
.location_page .ceremony {
  background: #ffa0b2;
}
.location_page .banquet {
  background: white;
  padding-bottom: 84px;
}

.mobile {
  display: none !important;
}

.footer {
  position: relative;
  width: 100vw;
  background: #ffa0b2;
  text-align: center;
}
.footer video {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}
.footer .mask {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}
.footer .countdown {
  position: relative;
  display: inline-block;
  color: white;
  padding-top: 80px;
}
.footer .countdown .time_section {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 35px;
  border-radius: 50%;
  text-align: center;
}
.footer .countdown .time_section .time_number {
  width: 100%;
  height: 60%;
  border-radius: 50%;
  font-size: 64px;
  padding: 20% 0;
}
.footer .countdown .time_section .title {
  font-size: 24px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 16px;
  left: 0;
}
.footer .social_buttonset {
  position: relative;
  width: 100%;
  margin-top: 93px;
  text-align: center;
}
.footer .social_buttonset .button {
  display: inline-block;
  width: 30px;
  margin-left: 12px;
}
.footer .social_buttonset .button .social_button {
  width: 100%;
}
.footer .copyright {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Sans(Medium) , Helvetica, Arial, sans-serif";
}
.footer .copyright .icon {
  position: relative;
  left: 0;
  transform: translateX(-50%);
  font-size: 18px;
}

@media screen and (max-width: 1150px) {
  .location_page .location iframe {
    position: relative;
    display: block;
    left: 8%;
    top: 0;
    margin-top: -50px;
  }
}
@media screen and (max-width: 950px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .footer .countdown .time_section {
    width: 100px;
  }
  .huge_photo_page .full_screen {
    height: 100vh;
    width: auto;
    -o-object-fit: fill;
       object-fit: fill;
    left: 0%;
  }
  .huge_photo_page .handwriting_1 {
    left: 13%;
    top: 18%;
    width: 70%;
  }
  .huge_photo_page .handwriting_2 {
    left: 13%;
    top: 28%;
    width: 70%;
  }
  .welcome_page .welcome {
    padding-top: 520px;
  }
  .welcome_page .Jack_and_Hanny {
    font-size: 60px;
  }
  .welcome_page .Wedding_word {
    margin-top: -90px;
  }
  .welcome_page .buttonset .button {
    height: 19.5px;
    margin: 0 2%;
  }
  .timeline_page {
    height: 200vh;
    overflow: hidden;
  }
  .timeline_page .line {
    display: none;
  }
  .timeline_page .time_section {
    display: none;
  }
  .timeline_page .image_window {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0vw;
    top: 0;
  }
  .timeline_page .image_window .window {
    position: absolute;
    display: none;
  }
  .timeline_page .image_window .window img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .timeline_page .image_window .window .up {
    top: 5vh;
    left: 15vw;
    width: 75vw;
    height: 64vh;
  }
  .timeline_page .image_window .window .below {
    top: 31vh;
    left: 15vw;
    width: 75vw;
    height: 64vh;
  }
  .timeline_page .image_window .window_short {
    margin-top: 10vh;
  }
  .timeline_page .image_window .default {
    display: block;
  }
  .timeline_page .image_window .default img {
    display: block;
  }
  .timeline_page .image_window img {
    margin-left: 0;
    width: 100%;
  }
  .timeline_page .image_window .white_bg {
    width: 100vw;
    margin-top: 15vh;
    height: 40vw;
  }
  .timeline_page .image_window .title {
    position: relative;
    top: 73vh;
    left: 17vw;
    font-size: 43px;
    line-height: 43px;
    color: white;
    width: 70vw;
    font-weight: bold;
  }
  .timeline_page .image_window .title .text {
    font-weight: normal;
    font-size: 16px;
    margin-left: 3vw;
    line-height: 25px;
    margin-top: 11px;
  }
  .timeline_page .image_window .top {
    top: 3vh;
  }
  .location_page .info {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px) {
  .location_page .location iframe {
    width: 85vw;
  }
  .location_page .title {
    height: auto;
    height: 8vw;
  }
  .location_page .info,
  .location_page .traffic {
    width: 88vw;
  }
  .welcome_page {
    height: 140vh;
  }
  .welcome_page .jack_png,
  .welcome_page .hanny_png {
    width: 100vw;
    top: 0vh;
    margin-left: -50vw;
    left: 53%;
  }
  .welcome_page .welcome {
    height: 16vh;
    padding-top: 54vh;
    padding-top: 450px;
    font-size: 36px;
  }
  .welcome_page .Jack_and_Hanny {
    font-size: 44px;
  }
  .welcome_page .Wedding_word {
    font-size: 38px;
    margin-top: -100px;
  }
  .welcome_page .buttonset .button {
    height: 16.5px;
    margin: 0 2%;
  }
  .timeline_page {
    height: 260vh;
  }
  .timeline_page .image_window {
    top: -1vh;
  }
  .timeline_page .image_window .default {
    top: -5vh;
  }
  .timeline_page .image_window .text {
    width: 270px;
  }
  .timeline_page .image_window #image_four {
    top: -5vh;
  }
  .huge_photo_page .handwriting_2 {
    top: 10vh;
    left: 10vw;
    width: 85vw;
  }
  .info {
    margin-bottom: 60px;
  }
}
@media screen and (max-height: 700px) and (max-width: 490px) {
  .welcome_page .welcome {
    padding-top: 360px;
  }
}
@media screen and (max-height: 630px) and (max-width: 490px) {
  .welcome_page .welcome {
    padding-top: 400px;
  }
  .timeline_page .image_window .title {
    top: 72vh;
    font-size: 32px;
  }
  .timeline_page .image_window .title .text {
    font-size: 15px;
    margin-left: 8vw;
    line-height: 23px;
    margin-top: 6px;
  }
  .timeline_page .image_window .top {
    top: 4vh;
  }
}